{% extends 'admin/base.html' %}
{% block head_tail %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
{% endblock %}


{% block page_body %}
    <div class="wrap">
        <header class="header">
            {% block brand %}
                {% include 'dashboard/head.html' %}
                <div><h2>晓书单后台管理系统</h2></div>
                <div class="user">
                    <a href="">welsonla</a>
                    <a href="">logout</a>
                </div>
            {% endblock %}
        </header>
        <div class="content">
            <aside class="sidebar">
                {% include 'dashboard/left.html' %}
            </aside>
            <main class="main">
                {{ layout.messages() }}
                {% block body %}{% endblock %}
            </main>
        </div>
        <footer>
            晓书单 &copy; 2023
        </footer>
    </div>
{% endblock %}

    <!-- 原始的Flask-Admin JavaScript文件 -->
    {{ admin_js }}
</body>
</html>
