html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: #1C1C1C;
}

a{
    color: #3377aa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #3377aa;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f1;
    height: 100px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.header h2 {
    color: black;
    font-weight: normal;
}

.header .user {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.header .user a {
    display: inline-block;
    margin-left: 10px;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row;
    /*margin-top: 10px;*/
}

.sidebar {
    background-color: #f6f6f1;
    width: 200px;
    float: left;
}

.sidebar ul {
    list-style: none;
    color: #111;
}

.sidebar ul li {
    display: block;
    height: 30px;
}

.main {
    display: flex;
    flex: 1;
    float: left;
    margin-left: 10px;
}

footer {
    background-color: #f6f6f1;
    text-align: center;
    height: 60px;
    /*margin-top: 10px;*/
    padding: 0;
    font-size: 14px;
    color: #9C9C9C;
    border-top:1px dashed #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer hr {
    color: red;
    margin: 0;
}