html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: #1C1C1C;
}

a{
    color: #3377aa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #3377aa;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f1;
    height: 100px;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
}

.header h2 {
    color: black;
    font-weight: normal;
}

.header .user {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.header .user a {
    display: inline-block;
    margin-left: 10px;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: row;
    /*margin-top: 10px;*/
}

.table-responsive {
    color: #3E4349;
}

.table-responsive table tr td {
    vertical-align: middle;
}

table .list-buttons-column {
    text-align: center;
}

table .list-buttons-column .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.sidebar {
    background-color: #f6f6f1;
    width: 200px;
}

.sidebar .nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sidebar .nav ul {
    /*list-style: decimal;*/
    color: #111;
}

.sidebar .nav ul li {
    display: block;
    height: 30px;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 10px;
    padding: 25px;
    box-sizing: border-box;
}

footer {
    background-color: #f6f6f1;
    text-align: center;
    height: 60px;
    /*margin-top: 10px;*/
    padding: 0;
    font-size: 14px;
    color: #9C9C9C;
    border-top:1px dashed #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer hr {
    color: red;
    margin: 0;
}